.hero {
    width: 100%;
    height: max-content;
    color: #F2F2F2;
    position: relative;
    overflow: hidden;
    background-color: #040D22;

    .leftHeroShadow {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(53.82deg, #375BDC 10.33%, #000971 84.3%);
        filter: blur(150px);
        width: 200px;
        height: 150px;
    }

        // .rightHeroShadow {
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     background-color: lightcoral;
        //     width: 200px;
        //     height: 300px;
        // }

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px 0px;

        .head {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-size: 52px;
                color: #F2F2F2;
            }
        }
        .paragraphHero {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            span {
                font-size: 13px;
                color: #C1C1C1;
            }
        }

        button {
            cursor: pointer;
            border: none;
            outline: none;
            color: #121212;
            background: linear-gradient(212.88deg, #AFBEFF 13.15%, #F2F2F2 100.45%);
            padding: 6px 18px;
            border-radius: 5px;
            text-align: center;
            font-weight: 500;
            margin-bottom: 22px;
            margin-top: 22px;
        }
    }
    .bottom {
        .wrapperImages {
            display: flex;
            justify-content: center;
            align-items: center;

            .mainImage {
                z-index: 100;
                margin-left: -82px;
                margin-right: -92px;
            }
        }
    }
    .bottomWrapper {
        position: absolute;
        bottom: -52px;
        width: 100%;
        height: 20vh;
        background-color: white;
    }
}