@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

.service {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    background-color: #040D22;
    font-family: 'Archivo', sans-serif;

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;

        .top {
            display: flex;
            flex-direction: column;
            gap: 6px;
            padding-bottom: 50px;

            span {
                color: #375BDC;
                font-size: 14px;
            }

            h3 {
                color: #F2F2F2;
                font-size: 34px;
            }

            p {
                color: #C1C1C1;
                font-size: 14px;
                width: 28%;
            }
        }

        .bottom {}
    }
}